body {
    background-image: url(pdj50168.gif);
    background-repeat: repeat;
    color: yellow;
    margin: 0;
    padding: 10px;
}

.main-content{
    background-image: url(SB014.JPG);
    color: black;
    padding: 20px;
    border: 2px solid cadetblue;
    min-height: 400px;
}

.sidebar {
    background-image: url(animated-background-image-1517.gif);
    padding: 15px;
    border: 2px solid cadetblue;
    width: 110px;
    color: rebeccapurple;
}

.sidebar ul {
    list-style-type: none;
    padding: 0%;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

.layout {
    display: flex;
    gap: 50px;
}