<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eyes</title>
</head>
<body>
    <h1 style="color: pink;">If you are a girl:- You have preety eyes!</h1>
    <br>
    <h1 style="color: blue;">If you are a boy:- Cool eyes bro!</h1>
    <br>
    <h1>If you are something else:- You still have cool eyes!</h1>
    <br>
    <h1>If you don't have eyes:- I am more intrested in the topic how can you read this than eyes?</h1>
</body>
</html>