<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dixit's DMN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    
    <header class="header-title">
        <a href="https://github.com/Dixit106" class="github-link">
        <img src="{{ url_for('static', filename='SSpfp.png') }}" alt="github-pfp" class="profile-logo">
        <h2 style="color: #FFD700;">DIXIT'S DEFAULT MODE NETWORK</h2>
        </a>
        <div class="blinkies">  
        <img src="{{ url_for('static', filename='pikachuuu.webp') }}" alt="picawebp" class="pica-gif"> 
        <img src="{{ url_for('static', filename='eyemail.gif') }}" alt="eyemailgif" class="center-gif"> 
        <img src="{{ url_for('static', filename='penguins.gif') }}" alt="linuxgif" class="blinkie">
        <img src="{{ url_for('static', filename='besteyes3.gif') }}" alt="eyesgif" class="blinkie">
        <img src="{{ url_for('static', filename='onepiece-blinkie.gif') }}" alt="onepiecegif" class="onepiece-gif">
        </div>   
    </header>

    <img src="{{ url_for('static', filename='reverseearth.gif') }}" alt="earthgif" class="earth-gif">

    <div class="layout">
        <div class="sidebar">
            <h4 class="sidebar-title">Pipe-Line</h4>
            <nav>
            <ul>
                <li>
                    <a href="/" style="margin-left: 5px;"><img src="{{ url_for('static', filename='valhousehome.gif') }}" alt="homegif" class="nav-icon-1">
                        <br>
                        Home
                    </a>
                </li>
                
                <li>
                    <a href="/diary"><img src="{{ url_for('static', filename='writersscroll.gif') }}" alt="diarygif" class="nav-icon-2">
                        <br>
                        DMN Diary
                    </a>
                </li>
                
                <li>
                    <a href="/about"><img src="{{ url_for('static', filename='chibi_vegita.gif') }}" alt="aboutmegif" class="nav-icon-3">
                        <br>
                        About Me
                    </a>
                </li>
            </ul>
        </nav>  
        <img src="{{ url_for('static', filename='gear5luffy.png') }}" alt="Luffy" class="floating-luffy">
        </div>
    

    <div class="main-content">
    <h1 style="color: #C6011F;">Welcome Traveler</h1>
    <h3 style="color: #006241;">You are in a DMN site</h3>
    <h1>Default Mode Network</h1>
    <h4 style="color: #C6011F;">DMN is the connected regions of your brain which gives you sense of EGO or Self Narrative.
        Although Ego is a psychology term but it's easy to understand DMN this way.
    </h4>
    <p style="color: #120A8F;">The Me and I we use daily in our life comes from here, from DMN.
    The DMN combines your past memories, your current feelings, and your future goals to create the character you call "Me." <br> <br>
    This is the point where science starts to differenciate between "YOU" which is created by your DMN and "YOU" which you actually are means conciousness.
    </p>

    <p style="color: #120A8F;">The Likes and Dislikes you have which most average people think are their prefrences, these are also stored in DMN to create your character which is "YOU"
        <br> <br>
        When you think, "I love spicy food, but I hate crowded places," the DMN is active. It stores your preferences and uses them to judge the world around you.
        <br> <br>
        It holds your personal story—your reputation, your values, and how you think other people view you.
    </p>

    <h4 style="color: #006241;">Visitor! Maybe now you can understand why this website is named the way it is and why I called it a DMN site because it's my DMN's creation. My character's thoughts and preferences.</h4>
    <br> <br> <br>

    <h1>Shrine</h1>
    <h4 style="color: #C6011F;">Shrine is a section or a webpage(even website) used in retro/indi/creative sites to express intrests like what media do I like, books, manga, video game and music or anything that you would just like to yapp about!</h4>
    <br> <br>
    <h3>001. Why One Piece is Peak!!!</h3>
    <h4 style="color: #C6011F;">
      If you live under a rock... there is a very high probability that you don't know what One Piece is.
    </h4>
    <h4 style="color: #006241;">
      In simple words, it's a manga (comics in Japan are called manga). So, One Piece is a Japanese manga series written and illustrated by Eiichiro Oda, which officially started in 1997. It follows the adventures of our main character, Luffy, and his crew. Luffy wants to be King of the Pirates by finding a treasure left by the Pirate King (Gol D. Roger), who was publicly executed by the Marines. The treasure the Pirate King left is named One Piece, and whoever finds it will become King of the Pirates.
    </h4>
    <br>
    <p style="color: #120A8F;">
  There are multiple adaptations for One Piece right now, like it has a very famous anime adaptation (in simple words, a 2D cartoon version), a web series adaptation, and a few more. The One Piece manga is considered the best source to experience the story of One Piece, as it's the original form Eiichiro Oda made.
</p>
<p style="color: #120A8F;">
  Although, I experienced it as an anime, and still to this date, it's the best piece of fiction/creativity I have ever witnessed. 
</p>
<p style="color: #120A8F;">
  There are a lot of controversial opinions of people, like the One Piece manga and anime is too long, and say the anime pacing is too slow, but they don't try to understand how both the manga and anime started in the 90s and are still being made in 2026 as the story is not over (yup, not denying it's long compared to many other shows). Also, the One Piece anime was released on TV as a show, and as there was no social media at that time, attention spans and dopamine receptors were not fried, so the pacing and recaps of previous events were considered good at that time.
</p>
<p style="color: #120A8F;">
  Surely, I also believe that times have changed now, and so the studio should fix One Piece's pacing. I do think the studio is trying a different approach to publish the anime now.
</p>

<br>
<p style="color: #120A8F;">
  It's ironic that some people who say that One Piece is boring, it's too long, or "we have a life to live" are the same people who spend their whole day doomscrolling and not doing anything productive. 
</p>
<p style="color: #120A8F;">
  Again, please remember I said "some people" because in the end everyone has different tastes, so if the majority of people like something, that doesn't mean every single human will like it in the same way. We all have our own lives and experiences.
</p>

<br><br>
<p style="color: #120A8F;">
  Now let's talk a bit about its story and why I am calling it PEAK! Although when you start this anime you might think this is another funny/goofy nostalgic anime, slowly things will surely get serious. When we start One Piece, you will meet our main character, Monkey D. Luffy, who has started his adventure to become King of the Pirates. Although he knows nothing and has nothing, he doesn't have a ship or a crew—for now, he is alone. Now we get to see how he meets different people and gets his crew and ship. 
</p>
<p style="color: #120A8F;">
  A few things that make me like this anime so much are the side stories, the stories of characters Luffy and his friends meet, and the stories of Luffy's friends. The way they are written and the emotions which come with them are out of this world. There are thousands of characters and they are never forgotten. 
</p>
<p style="color: #120A8F;">
  I also like our main character Luffy a lot because he is very optimistic, kind, strong, dumb, and funny. In the end, I just want to say One Piece is most probably something you are not expecting. It's beautiful, sometimes serious, also full of mysteries like what actually is One Piece, ancient weapons, the Void Century, etc., and in the end, it's absolute PEAK!
</p>
<br><br><br><br>

<h3 style="color: red;">Ya there is a lot more polishing and adding content left could not do it all for now due to time limit of ysws event and also I have been a bit busy(wasting time) sooo ya!</h3>

<img src="{{ url_for('static', filename='construction.gif') }}" alt="constructiongif" class="content-construction">
    </div>

      </div>  
      <img src="{{ url_for('static', filename='smug_frieren.png') }}" alt="frieren" class="smug-frieren">
      <script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
</body>
</html>