<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
</head>
<body>
    <h1 style="color: rebeccapurple;">Hola, if you want to send a hi or something else as a message(it will make me happy). You can click the gif below!!!</h1>
    <hr><hr>
    <a href="mailto:dixitk2958@gmail.com">
    <img src="{{ url_for('static', filename='eyemail.gif') }}" alt="eyemailgif" class="center-gif">
    </a>
</body>
</html>